repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args:
          - --fix
      # - id: ruff-format  # TODO: enable when the time is right
