name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: '.pre-commit-config.yaml'
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: uv run --python=3.14 --no-sync --with pre-commit-uv pre-commit run --show-diff-on-failure --color=always --all-files
        env:
          RUFF_OUTPUT_FORMAT: github
